@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #422520; /* Màu chủ đạo */
    --secondary-color: #6E3B3B; /* Màu phụ */
    --accent-color: #D9A5A5; /* Màu nhấn */
    --background-color: #F5F5F5; /* Màu nền */
    --text-color: #333333; /* Màu chữ */
    --light-text-color: #FFFFFF; /* Màu chữ sáng */
    --border-color: #CCCCCC; /* Màu viền */

    --text-font: "Mulish", sans-serif;
    --title-font: "Judson", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    font-family: var(--text-font);
    color: #333;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1280px;
    min-width: 480px;
    padding: 32px;
    height: 100%;
    border: 1px solid #000;
    align-items: center;
    overflow: auto;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

header .header-information {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    font-family: 'judson', serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

header .logo {
    display: flex;
    width: 100%;
    height: max-content;
    padding-top: 8px;
    margin-top: 16px;
    border: 3px solid var(--primary-color);
    border-left: none;
    border-right: none;
    justify-content: center;
    align-items: center;

    font-family: "Libre Bodoni", serif;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 32px;
}
